{{yield}}
<div class="wrapper">
  <div class="block">
    <div class="post">
      <h1 class="post--title">{{post.title}}</h1>
      <span class="post--meta post--date">{{post.shortDate}}</span>
      <div class="post--content">{{post.contentRendered}}</div>
      <noscript>{{post.date}}<br><br><pre>{{post.contentMarkdown}}</pre></noscript>
    </div>
  </div>
</div>
